[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"], version = "*"}
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
alembic = "*"
mariadb = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
alembic-utils = "*"
sqlalchemy-utils = "*"
python-i18n = {extras = ["yaml"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
