{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}{{val.title}}{% endblock %}</h1>
    {% for continent in val.continents %}
        <h2>{{continent[0]}}</h2><br>
        {% for country in continent[1] %}
            {% if val.addLinks %}
                <a href="{{url_for('api_OriginsView_get', origin=country.refName, language=val.language)}}">{{country.displayName}}</a>
            {% else %}
                {{country.displayName}}
            {% endif %}
            <br>
        {% endfor %}
    {% endfor %}
{% endblock %}